<div id="comment-<%= comment.id %>">
  <p><%= display_full_date(comment.created_at.to_date) %></p>
  <p><%= comment.username %></p>
  <p><%= comment.content %></p>
  <% if user_signed_in? && (current_user.id == comment.user_id) %>
      <%= link_to 'Delete', comment_path(comment), remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>