<%= @title %>
<div>
  <%= image_tag @user.avatar.url %>
  <%= @user.full_name %>
  <%= render 'shared/stats' %>
  <%= render 'follow_form' if user_signed_in? %>
</div>


<% if @relationships.present? %>
  <div>
    <%= render :partial => 'user', :collection => @relationships  %>
  </div>
  <%= paginate @relationships %>
<% end %>
