<p>
  <%= display_full_date(post.created_at.to_date) %>
</p>

<p>
  <strong>Title:</strong>
  <%= post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= post.content %>
</p>

<% if can? :update, post %>
    <%= link_to 'Edit', edit_post_path(post) %>
<% end %>
<% if can? :destroy, post %>
    <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %>
<% end %>

<% if user_signed_in? %>
    <div>
      <%= render partial: "comments/form", locals: { post: post } %>
    </div>
<% end %>
<div id="comments-<%= post.id %>">
  <%= render partial: "comments/comment", collection: post.comments.reverse %>
</div>
