<%= bootstrap_form_for @goal.new_record? ? [@user, @goal] : [@goal] do |f| %>

    <%= f.alert_message 'Please fix the errors below.' %>

    <% unless @goal.new_record? %>
        <div class="field">
          <%= f.form_group :status, label: { text: 'Status' } do %>
              <%= f.radio_button :status, 'active', checked: @goal.active?, label: 'Active' %>
              <%= f.radio_button :status, 'closed', checked: @goal.closed?, label: 'Closed' %>
              <%= f.radio_button :status, 'completed', checked: @goal.completed?, label: 'Completed' %>
        <% end %>
        </div>
    <% end %>

    <div class="field">
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= f.form_group :visibility, label: { text: 'Visibility' } do %>
          <%= f.radio_button :visibility, 'publiced', checked: true, label: 'Public' %>
          <%= f.radio_button :visibility, 'privated', label: 'Private' %>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit 'Save' %>
    </div>

<% end %>