<p>
  <strong>Status:</strong>
  <%= goal.status.capitalize %>
</p>

<p>
  <strong>Title:</strong>
  <%= goal.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= goal.description %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= display_visibility(goal.visibility) %>
</p>

<p>
  <strong>Tags:</strong>
  <%= display_tags(goal.tags) %>
</p>

<% if can? :update, goal %>
    <%= link_to 'Edit', edit_goal_path(goal) %>
<% end %>
<% if can? :destroy, goal %>
    <%= link_to 'Delete', goal_path(goal), method: :delete, data: { confirm: 'Are you sure you want to delete this goal?' } %>
<% end %>
<%= link_to 'Progress',  goal_posts_path(goal) %>
<%= link_to 'Action Plan',  goal_milestones_path(goal) %>
