<p>
  <strong>Status:</strong>
  <%= goal.status.capitalize %>
</p>

<p>
  <strong>Title:</strong>
  <%= goal.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= goal.description %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= display_visibility(goal.visibility) %>
</p>

<%= link_to 'Edit', edit_goal_path(goal) %>
<%= link_to 'Progress',  goal_posts_path(goal) %>
<%= link_to 'Plan',  goal_milestones_path(goal) %>
<%= link_to 'Delete', goal_path(goal), method: :delete, data: { confirm: 'Are you sure you want to delete this goal?' } %>
